@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  cursor: none !important;
}

body {
  cursor: none !important;
}

body {
  margin: 0;
  font-family: var(--font-open-sans);
  /* background-color: #f0f0f0; */
  background-color: #202020;
}
